<div class="hero center lg:min-h-screen mt-10 lg:mt-0">
    <div class="card mx-auto bg-base-200">
        <div class="card-body">
            <h2 class="max-w-xs text-center mb-3">
                Sign in and start ranking your favourite anime openings and endings!
            </h2>
            <div class="divider"></div>
            <.auth_buttons conn={@conn} />
        </div>
    </div>
</div>